clamav-0.97.5-norar.tar.gz
clamav-clamd.init
clamav-clamd.logrotate
clamav-clamd.sysconfig
clamav-freshclamd.init
clamav-freshclam.logrotate
clamav-freshclam.sysconfig
clamav-milter.init
clamav-milter.logrotate
clamav-milter.sysconfig
