[Unit]
Description=Clam AntiVirus Daemon is a TCP/IP or unix domain
After=network.target

[Service]
Type=forking
User=clamav
PIDFile=/run/clamav/clamd.pid
ExecStart=/usr/sbin/clamd --config-file=/etc/clamd.conf

[Install]
WantedBy=multi-user.target
