[Unit]
Description=Clam AntiVirus Daemon is a TCP/IP or unix domain
After=network.target

[Service]
Type=forking
User=clamav
PIDFile=/run/clamav/freshclam.pid
ExecStart=/usr/bin/freshclam --config-file=/etc/freshclam.conf -d

[Install]
WantedBy=multi-user.target
